{% extends "base.html" %}

{% block title %}Текущие проекты{% endblock %}

{% block content %}
    <h1>Список проектов</h1>
    {% if user.is_authenticated and perms.webapp.add_project %}
        <p><a href="{% url "webapp:create_project" %}">Новый проект</a></p>
    {% endif %}
    {% for project in projects %}
        <p>{{ project.name }} <a href="{% url "webapp:project" project.pk %}">Подробнее</a></p>
    {% endfor %}
    <hr>
    {% if user.is_authenticated and perms.webapp.custom_permission %}
        <p><a href="{% url "webapp:users" %}">Все пользователи</a></p>
    {% endif %}
{% endblock %}