{% extends "base.html" %}

{% block title %}Проект {{ project.pk }}{% endblock %}

{% block content %}
    <h3>Название проекта:</h3>
    <p>
        {{ project.name }}
    </p>
    <h3>Описание:</h3>
    <p>
        {{ project.description|default_if_none:"Нет описания" }}
    </p>
    <h3 style="color: green;">Участники проекта:</h3>
    {% for user in project.users.all %}
        |{{ user }}|
    {% endfor %}
    <h3>Дата начала:</h3>
    <p>
        {{ project.start_date }}
    </p>
    <h3>Дата окончания:</h3>
    <p>
        {{ project.end_date|default_if_none:"Дата не выставлена" }}
    </p>
    {% if user.is_authenticated %}
        {% if perms.webapp.custom_permission %}
            <p><a href="{% url "webapp:project_users" project.pk %}">Изменить состав участников</a></p>
        {% endif %}
        {% if perms.webapp.change_project %}
            <p><a href="{% url "webapp:edit_project" project.pk %}">Редактировать проект</a></p>
        {% endif %}
        {% if perms.webapp.delete_project %}
            <p><a href="{% url "webapp:delete_project" project.pk %}">Удалить проект</a></p>
        {% endif %}
    {% endif %}
    <hr>
    {% if user.is_authenticated and perms.webapp.add_issue %}
        <p><a href="{% url "webapp:create" project.pk %}">Новая задача</a></p>
    {% endif %}
    <h3>Задачи проекта:</h3>
    {% for issue in issues %}
        <p>
            {{ issue.summary }} <a href="{% url "webapp:issue" issue.pk %}">Подробнее</a>
        </p>
    {% empty %}
        <p>В этом проекте не создано ни одной зачачи</p>
    {% endfor %}
    <hr>
    <p>
        <a style="color: red;" href="{% url "webapp:projects" %}"><b>На главную</b></a>
    </p>
{% endblock %}